.rich-input {
  width: 100%;
  background-color: transparent;
  & > div {
    padding: 4px;
    border-radius: 4px;
    &:focus {
      background-color: #f3f7fa;
      outline-color: var(--primary-color);
      outline-style: dashed;
    }
  }
}
