[data-class='model-footer-wrap'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .footer-btn {
    width: 96px;
    box-sizing: border-box;
    font-size: 14px;
    color: #282b31;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &.cancel {
      background-color: #f2f4f6;
      &:hover {
        background-color: #e7e7e7;
        color: #0074d7;
      }
    }
    &.confirm {
      color: #fff;
      background-color: #007dff;
      &:hover {
        background-color: #007dff;
        color: #fff;
      }
    }
  }
  .left-part {
    color: #007dff;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .right-part {
    display: flex;
    .cancel {
      color: #007dff;
      margin-right: 12px;
    }
  }
}
