.rcs-input {
  width: 100%;
  min-height: 32px;
  // border: 1px solid #ccc;
  line-height: inherit;
  position: relative;
  .insert-icon {
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 2000;
    transform: translateY(-100%);
    width: 32px;
    height: 16px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
  }
  &.active {
    .base-input {
      background-color: #f3f7fa;
      border: 1px dashed var(--primary-color);
    }
  }
}
.base-input {
  width: 100%;
  height: 100%;
  line-height: inherit;
  outline: none;
  border: 1px dashed transparent;
  padding: 0 4px;
  border-radius: 4px;
  word-wrap: break-word;
  word-break: break-all;
  &::-webkit-scrollbar {
    display: none;
  }
  &:focus {
    background-color: #f3f7fa;
    border-color: var(--primary-color);
  }
}
.rich-popconfirm {
  .ant-popconfirm-inner-content {
    display: flex;
    align-items: center;
  }
}
