[data-class='chose-avatar'] {
  #form-0_ {
    display: flex;
    justify-content: space-between;
    .avatar-img {
      width: 62px;
      height: 62px;
      padding: 2px;
      cursor: pointer;
      position: relative;
      &.active {
        border-radius: 4px;
        border: 1px solid #15962a;
      }
      &.active:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 24px solid #15962a;
        border-left: 24px solid transparent;
        border-bottom-right-radius: 10rpx;
      }
      &.active:before {
        content: ' ';
        position: absolute;
        bottom: 5px;
        right: 1px;
        z-index: 1;
        display: inline-block;
        width: 12px;
        height: 6px;
        border-width: 0 0 2px 2px;
        overflow: hidden;
        border-color: #fff;
        border-style: solid;
        transform: rotate(-58deg);
      }
      img {
        width: 100%;
      }
    }
  }
  .ant-modal-content {
    .ant-modal-header {
      border-bottom: 1px solid #e7e7e7;
    }
  }
}
