[data-class='chatbot-edit'] {
  height: auto;
  .line {
    margin: 16px 0 24px;
  }
  .info-title {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      width: 4px;
      height: 20px;
      border-radius: 2px;
      background: var(--primary-color);
      margin-right: 8px;
    }
    .auditing-status {
      position: absolute;
      right: 0;
    }
  }
  .base-info {
    border: 1px solid #d7dae1;
    border-radius: 8px;

    .info-header {
      padding: 16px 16px;
      border-bottom: 1px solid #d7dae1;
      .jiqiren {
        color: #d6dce1;
        font-size: 40px;
      }
      .status {
        height: 20px;
        line-height: 20px;
        padding: 0 8px;
        border-radius: 10px;
        background-color: #4ea987;
        color: #fff;
        font-size: 12px;
      }
    }
    .info-content {
      padding: 16px 20px;
      .info-item {
        margin-top: 24px;
        .info-label {
          color: #555;
        }
        .info-value {
          margin-top: 8px;
          font-weight: 500;
          min-height: 22px;
          font-size: 16px;
        }
      }
    }
  }

  .ant-table-wrapper {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding-bottom: 12px;
    background-color: #f6f7f9;
    .ant-table-thead th {
      font-size: 16px;
    }
    .ant-table-thead th:first-child {
      font-weight: normal;
      color: #4f4f4f !important;
    }
    .ant-table-thead th:nth-child(2) {
      color: #282b31 !important;
    }
    .ant-table-thead th:nth-child(3) {
      font-weight: normal;
    }
    .ant-table-thead th,
    .ant-table-tbody tr > td {
      border-bottom: 0 !important;
      background-color: #f6f7f9;
    }
    .ant-table-tbody tr {
      font-size: 15px;
      td {
        padding: 4px 16px;
      }
    }
    .ant-table-tbody tr > td:first-child {
      color: #4f4f4f;
    }
    .ant-table-tbody tr > td .secondCont {
      position: relative;
    }
    .ant-table-tbody tr > td .secondCont::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 16px;
      background-color: #bdbcbd;
    }
    .ant-table-thead th:nth-child(3),
    .ant-table-tbody tr > td:nth-child(3) {
      color: #4869ab;
    }

    .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
      background-color: #eceff4;
    }
    .ant-table-body .ant-table-row-hover {
      background: #eceff4;
    }
    .ant-table-body .ant-table-row-hover > td {
      background: #eceff4;
    }
  }
  .icon-jianpan {
    font-size: 18px;
  }

  .icon-bianji,
  .icon-zhongzhi {
    font-size: 20px;
  }
  .cancle-edit {
    color: #282b31;
    background-color: #eceff4;
    box-shadow: none;
    &:hover {
      color: #282b31 !important;
      background-color: #f6f7f9 !important;
    }
  }
}

.upload-btn button {
  width: 120px;
  height: 40px;
  font-size: 15px;
}
.cancle {
  color: #1764ff;
  background-color: #eceff3;
}
.save {
  color: #fff;
  background-color: #f58c37;
  &:hover {
    background-color: #f7a867;
  }
}
