.chatbot-edit {
  height: auto;
  .line {
    margin: 16px 0 24px;
  }
  .info-title {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      width: 4px;
      height: 20px;
      border-radius: 2px;
      background: var(--primary-color);
      margin-right: 8px;
    }
    .auditing-status {
      position: absolute;
      right: 0;
    }
  }

  .base-info {
    border: 1px solid #d7dae1;
    border-radius: 8px;

    .info-header {
      padding: 16px 16px;
      border-bottom: 1px solid #d7dae1;
      .jiqiren {
        color: #d6dce1;
        font-size: 40px;
      }
      .status {
        height: 20px;
        line-height: 20px;
        padding: 0 8px;
        border-radius: 10px;
        background-color: #4ea987;
        color: #fff;
        font-size: 12px;
      }
    }
    .info-content {
      padding: 16px 20px;
      .info-item {
        margin-top: 24px;
        .info-label {
          color: #555;
        }
        .info-value {
          margin-top: 8px;
          font-weight: 500;
          min-height: 22px;
          font-size: 16px;
        }
      }
    }
  }

  .ant-table-wrapper {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    .ant-table-thead th:first-child {
      color: #4f4f4f !important;
    }
    .ant-table-thead th:nth-child(2) {
      color: #282b31 !important;
    }
    .ant-table-thead th,
    .ant-table-tbody tr > td {
      border-bottom: 0 !important;
      background-color: #f6f7f9 !important;
    }
    .ant-table-tbody tr > td .secondCont {
      position: relative;
    }
    .ant-table-tbody tr > td .secondCont::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 16px;
      background-color: #bdbcbd;
    }
    .ant-table-thead th:nth-child(3),
    .ant-table-tbody tr > td:nth-child(3) {
      color: #4869ab;
    }
  }
  .icon-jianpan {
    font-size: 18px;
    position: relative;
    left: -5px;
  }

  .icon-bianji,
  .icon-zhongzhi {
    font-size: 18px;
  }
}
