[data-class='move-address'] {
  .now-address,
  .now-address2 {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 0px 4px 8px;
    img {
      width: 40px;
      margin-right: 10px;
    }
    .num-p {
      background-color: #e7ebf1;
      padding: 4px 18px;
      border-radius: 18px;
      margin-right: 6px;
    }
  }
  .now-address2 {
    border: none;
    margin-bottom: 8px;
    background-color: #f6f7f9;
    &.active {
      background-color: #e7ebf1;
    }
  }
}
