.chatbot-detail {
  padding: 48px 16px;
  height: auto;
  .line {
    margin: 16px 0 24px;
  }
  .info-title {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      width: 4px;
      height: 20px;
      border-radius: 2px;
      background: #007dff;
      margin-right: 8px;
    }
    .auditing-status {
      position: absolute;
      right: 0;
    }
  }

  .base-info {
    border: 1px solid #d7dae1;
    border-radius: 8px;

    .info-header {
      padding: 16px 16px;
      border-bottom: 1px solid #d7dae1;
      .jiqiren {
        color: #d6dce1;
        font-size: 40px;
      }
      .status {
        height: 20px;
        line-height: 20px;
        padding: 0 8px;
        border-radius: 10px;
        background-color: #4ea987;
        color: #fff;
        font-size: 12px;
      }
    }
    .info-content {
      padding: 16px 20px;
      .info-item {
        margin-top: 24px;
        .info-label {
          color: #555;
        }
        .info-value {
          margin-top: 8px;
          font-weight: 500;
          min-height: 22px;
          font-size: 16px;
        }
      }
    }
  }
  .detail-btn {
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-bianji,
    .icon-shanchu {
      font-size: 18px;
      padding-right: 4px;
    }
  }
  .border {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 0 1px #e6e6e6;
    font-size: 15px;
    tr > td:first-child,
    tr > td:nth-child(3) {
      color: #4f4f4f !important;
      width: 180px;
      background-color: #f3f6f9;
    }
    tr > td:nth-child(2),
    tr > td:nth-child(4) {
      font-weight: 500;
    }
    td {
      height: 56px;
      padding-left: 20px;
      border: 1px solid #e6e6e6;
    }
  }
  @media screen and (max-width: 768px) {
    .border {
      border: 0;
      box-shadow: none;
    }
    .border tr {
      display: block;
      margin-bottom: 10px;
    }
    .border td {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 0;
    }
    .border tr > td:first-child,
    .border tr > td:nth-child(3) {
      width: 100%;
    }
  }
  .tree-cont {
    background-color: #f6f7f9;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 20px;
  }

  .mean-botm {
    display: flex;
    justify-content: end;
    margin-top: 18px;
    margin-bottom: 120px;
  }
  button {
    margin: 6px;
    height: 40px;
  }
  .submit-audtitng {
    background-color: #f58c37;
    &:hover {
      background-color: #faa662 !important;
    }
  }
  .auditing-btn {
    color: #fff;
    background-color: #f58c37;
    &:hover {
      background-color: #f7a867 !important;
    }
  }
  .ant-table-wrapper {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding-bottom: 12px;
    background-color: #f6f7f9;
    .ant-table-thead
      > tr
      > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
      background-color: #f6f7f9 !important;
    }
    .ant-table-thead th {
      font-size: 16px;
    }
    .ant-table-thead th:first-child {
      font-weight: normal;
      color: #4f4f4f !important;
    }
    .ant-table-thead th:nth-child(3) {
      font-weight: normal;
    }
    .ant-table-thead th:nth-child(2) {
      color: #282b31 !important;
    }
    .ant-table-tbody tr {
      font-size: 15px;
    }
    .ant-table-tbody tr > td:first-child {
      color: #4f4f4f;
    }
    .ant-table-tbody tr > td:nth-child(2) {
      font-weight: 500 !important;
    }
    .ant-table-thead th,
    .ant-table-tbody tr > td {
      border-bottom: 0 !important;
      background-color: #f6f7f9;
    }
    .ant-table-tbody tr > td.secondCont {
      position: relative;
    }
    .ant-table-tbody tr > td .secondCont::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 78%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 16px;
      background-color: #bdbcbd;
    }
    .ant-table-thead th:nth-child(3),
    .ant-table-tbody tr > td:nth-child(3) {
      color: #4869ab;
    }
    .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
      background-color: #eceff4;
    }
    .ant-table-body .ant-table-row-hover {
      background: #eceff4;
    }
    .ant-table-body .ant-table-row-hover > td {
      background: #eceff4;
    }
  }
  .icon-bianji,
  .icon-zhongzhi {
    font-size: 20px;
  }
}
