.rcs-create-send {
  .contacts-content.file-content {
    max-height: fit-content !important;
    .file-table {
      text-align: center;
      .ant-table-cell {
        text-align: center;
      }
    }
  }
}
