.page-content.api-analysis {
  padding: 32px 16px 48px;
  position: relative;
  height: auto;
  .loading-wrap {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: fit-content;
  }
}
