.rcs-temp-meteial {
  width: 100%;
  height: 100%;
  position: relative;
  .top-search {
    height: 64px;
    .type {
      height: 32px;
      line-height: 32px;
      cursor: pointer;
      &.active {
        color: #111;
        font-weight: 500;
      }
    }
  }
  .meteial-list {
    width: 100%;
    height: calc(100% - 64px);
    overflow-x: hidden;
    overflow-y: scroll;
    .item {
      width: 100%;
      height: 120px;
      text-align: center;
      video {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
