.a-del-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 2px;
  background-color: transparent;
  transition: all 0.3s ease-out;
  &:hover {
    background-color: #eee;
  }
  .icon-shuaxin {
    animation: rotate 1s linear infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
