.sandbox-chatbot-list {
  background-color: var(--table-bg);
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  position: relative;
  padding-top: 40px;
  height: fit-content;
  min-height: 200px;
  max-height: 300px;
  overflow: hidden;
  flex-shrink: 0;

  .name {
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 0 40px #f0f1f3;
  }
  .list {
    max-height: 260px;
    overflow-y: scroll;
    .list-item {
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
        opacity: 0.9;
      }
    }
  }
}
