.mob-menu {
  height: 40px;
  width: 100%;
  padding: 0 0 0 14px;
  .mob-menu-btn {
    width: 38px;
    height: 40px;
    display: flex;
    align-items: center;

    .iconfont {
      transform: rotate(180deg);
      transition: all 0.3s;
    }
    &.active {
      .iconfont {
        transform: rotate(0);
      }
    }
  }
}
.mob-menu-drawer {
  padding-top: 104px;
  .ant-drawer-body {
    padding: 0;
  }
}
