.ant-form-item label {
  margin-bottom: 0;
}

.ant-table-wrapper.theme-cell {
  .paddingL30 {
    padding-left: 30px !important;
  }
  .paddingL20 {
    padding-left: 20px !important;
  }
  .paddingR30 {
    padding-right: 30px !important;
  }
  .paddingL50 {
    padding-left: 50px !important;
  }
  .paddingL70 {
    padding-left: 70px !important;
  }
  // 顶部th
  .ant-table-header table,
  .ant-table-thead {
    border-spacing: 0;

    th {
      border-bottom: none;
      background-color: #f1f2f4;
      color: #505a63;
      font-weight: 500;
      padding: 14px 2px;

      &::before {
        display: none;
      }
    }
  }

  .ant-table-ping-left .ant-table-cell-fix-left-last::after {
    box-shadow: inset 10px 0 8px -8px rgba(5, 5, 5, 0.06);
  }
  // 默认背景色为白色
  table {
    border-spacing: 0 0;
    tbody.ant-table-tbody {
      tr {
        &.ant-table-measure-row {
          visibility: collapse;
        }

        & > td {
          padding: 10px 0;
          transition: background-color 0.3s, border-color 0.3s;
          background-color: #fff;
          border-bottom: 1px solid #f0f0f0;
          &.account-wrap {
            padding-right: 10px;
            color: #687279;
          }
        }

        &:hover > td {
          background-color: #f4f6f8 !important;
          border-color: #f4f6f8 !important;
        }

        &.active > td {
          background-color: #f4f6f8 !important;
          border-color: #f4f6f8 !important;
          color: inherit;
        }
      }
    }
  }
}

// 重置下拉样式
.ant-select {
  .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
  }
  .ant-select-selection-placeholder,
  .ant-select-arrow,
  .ant-select-selection-item {
    color: var(--primary-color) !important;
  }
  &:hover {
    .ant-select-selector {
      box-shadow: 0 0 3px #efefef !important;
    }
  }
  &.ant-select-disabled {
    .ant-select-selector {
      border: none !important;
      box-shadow: none !important;
    }

    .ant-select-selection-item,
    .ant-select-selection-placeholder,
    .ant-select-arrow {
      color: rgba(0, 0, 0, 0.25) !important;
    }
    &.ant-select-status-success {
      .ant-select-arrow {
        color: rgba(0, 0, 0, 0.25) !important;
      }
    }
  }
}
// 重置弹框样式
.ant-modal-wrap {
  .ant-modal-content {
    padding: 0;
    border-radius: 8px;
  }
  .ant-modal-header {
    min-height: 60px;
    padding: 0 24px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    .ant-modal-title {
      width: 100%;
      line-height: 1.56;
      font-size: 16px;
    }
  }
  .ant-modal-body {
    padding: 16px 24px 24px;
    max-height: 65vh;
    // min-height: 40vh;
    overflow-y: scroll;
  }
  .ant-modal-footer {
    margin-top: 0;
    padding: 8px 24px 16px;
  }
  @media screen and (max-width: 767px) {
    .ant-modal-header {
      min-height: 52px;
      .ant-modal-title {
        font-size: 14px;
      }
    }
    .ant-modal-header,
    .ant-modal-body,
    .ant-modal-footer {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

// tooltip
.ant-tooltip .ant-tooltip-inner {
  min-height: 32px;
}
