// 字体颜色
:root {
  --primary-color: #1764ff; // 主题色
  --text-color: #282b31; // 默认字体颜色
  --gray-color: #41464f; // 灰色
  --gray-color-sub: #999; // 浅灰色
  --success-color: #00a97b; // 成功色
  --error-color: #f00011; // 错误色
  --warning-color: #ff4d4f; // 警告色
  --black-color: #1a1c1f; // 黑色
  --white-color: #fff; // 白色

  // 背景色
  --btn-bg: #f1f2f4; // 自定义按钮背景色
  --btn-bg-active: #1764ff; // 自定义按钮背景色-active
  --btn-color: #282b31; // 自定义按钮字体颜色
  --btn-color-active: #fff; // 自定义按钮字体颜色-active
  --select-bg: #f1f2f4; // 自定义下拉框背景色
  --table-bg: #f6f7f9;
  --table-bg-active: #e7ebf1;
  --table-color: #282b31;
  --table-color-active: #282b31;
}

/**
* 自定义颜色相关的className
* xxx-color表示字体颜色， color-xxx表示某个功能的样式，如color-btn表示自定义按钮的相关样式
*/
// 主题色
.color,
.primary-color {
  color: var(--primary-color);
}
// 默认黑色
.text-color {
  color: var(--text-color);
}
// 灰色
.gray-color {
  color: var(--gray-color);
}
// 浅灰色
.gray-color-sub {
  color: var(--gray-color-sub);
}
// 成功色
.success-color {
  color: var(--success-color);
}
// 错误色
.error-color {
  color: var(--error-color);
}
// 警告色
.warning-color {
  color: var(--warning-color);
}
// 深黑色
.black-color {
  color: var(--black-color);
}
// 白色
.white-color {
  color: var(--white-color);
}

/**
* 功能样式/背景样式
*/
// 按钮
.color-btn {
  color: var(--btn-color);
  background-color: var(--btn-bg);
}
// 按钮active
.color-btn-active {
  color: var(--btn-color-active);
  background-color: var(--btn-bg-active);
}
// 表格
.color-tab {
  color: var(--table-color);
  background-color: var(--table-bg);
}
// 表格-active/hover
.color-tab-active {
  color: var(--table-color-active);
  background-color: var(--table-bg-active);
}
