/**
* 一键生成对应magin-padding的className
* m: margin, p: padding
* x: left+right, y: top+bottom, t: top, r: right, b: bottom, l: left
* number(0,40) | 50 | 60 | 70 | 80 | 90 | 100
* !important 解决submail.mdi.css的影响
*/
@mixin create-margin-padding($number) {
  $value: $number + px;
  .m-#{$number} {
    margin: $value !important;
  }
  .m-x-#{$number} {
    margin-left: $value;
    margin-right: $value;
  }
  .m-y-#{$number} {
    margin-top: $value;
    margin-bottom: $value;
  }
  .m-t-#{$number} {
    margin-top: $value;
  }
  .m-r-#{$number} {
    margin-right: $value !important;
  }
  .m-b-#{$number} {
    margin-bottom: $value;
  }
  .m-l-#{$number} {
    margin-left: $value !important;
  }
  .p-#{$number} {
    padding: $value !important;
  }
  .p-x-#{$number} {
    padding-left: $value;
    padding-right: $value;
  }
  .p-y-#{$number} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .p-t-#{$number} {
    padding-top: $value;
  }
  .p-r-#{$number} {
    padding-right: $value;
  }
  .p-b-#{$number} {
    padding-bottom: $value;
  }
  .p-l-#{$number} {
    padding-left: $value !important;
  }
}
@include create-margin-padding(0);
@include create-margin-padding(2);
@include create-margin-padding(4);
@include create-margin-padding(6);
@include create-margin-padding(8);
@include create-margin-padding(10);
@include create-margin-padding(12);
@include create-margin-padding(14);
@include create-margin-padding(16);
@include create-margin-padding(18);
@include create-margin-padding(20);
@include create-margin-padding(22);
@include create-margin-padding(24);
@include create-margin-padding(26);
@include create-margin-padding(28);
@include create-margin-padding(30);
@include create-margin-padding(32);
@include create-margin-padding(34);
@include create-margin-padding(36);
@include create-margin-padding(38);
@include create-margin-padding(40);
@include create-margin-padding(50);
@include create-margin-padding(60);
@include create-margin-padding(70);
@include create-margin-padding(80);
@include create-margin-padding(90);
@include create-margin-padding(100);
