/**
* fn(10,30) 字号
* g-ellipsis-(1,5) 超出几行显示...
* g-radius-(0,20/50) 生成圆角
* fw-500
* w-100
* h-100
* hide-scrollbar 隐藏滚动条
* 
* 
*/

/**
* fn(10,30) 字号(10-30)
*/
@mixin create-fn($number) {
  $value: $number + px;
  .fn#{$number} {
    font-size: $value;
  }
}
@include create-fn(10);
@include create-fn(11);
@include create-fn(12);
@include create-fn(13);
@include create-fn(14);
@include create-fn(15);
@include create-fn(16);
@include create-fn(17);
@include create-fn(18);
@include create-fn(19);
@include create-fn(20);
@include create-fn(21);
@include create-fn(22);
@include create-fn(23);
@include create-fn(24);
@include create-fn(25);
@include create-fn(26);
@include create-fn(27);
@include create-fn(28);
@include create-fn(29);
@include create-fn(30);

/**
* g-ellipsis-(1,5) 超出几行显示...
*/
@mixin create-ellipsis($number) {
  @if $number == 1 {
    .g-ellipsis,
    .g-ellipsis-1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  } @else {
    .g-ellipsis-#{$number} {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: $number;
      line-clamp: $number;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
  }
}
@include create-ellipsis(1);
@include create-ellipsis(2);
@include create-ellipsis(3);
@include create-ellipsis(4);
@include create-ellipsis(5);

/**
* g-radius-(0,20/50) 生成圆角
*/
@mixin create-radius($number) {
  @if $number == 50 {
    .g-radius-#{$number} {
      border-radius: 50%;
    }
  } @else {
    $value: $number + px;
    .g-radius-#{$number} {
      border-radius: $value;
    }
  }
}
@include create-radius(0);
@include create-radius(1);
@include create-radius(2);
@include create-radius(3);
@include create-radius(4);
@include create-radius(5);
@include create-radius(6);
@include create-radius(7);
@include create-radius(8);
@include create-radius(9);
@include create-radius(10);
@include create-radius(11);
@include create-radius(12);
@include create-radius(13);
@include create-radius(14);
@include create-radius(15);
@include create-radius(16);
@include create-radius(17);
@include create-radius(18);
@include create-radius(19);
@include create-radius(20);
@include create-radius(50);

.fw-500 {
  font-weight: 500;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

// 隐藏滚动条
.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  scrollbar-color: transparent transparent;
}

div {
  box-sizing: border-box;
}
