.page-content.batchreport-detail {
  padding: 32px 16px 48px;
  height: auto; /* 定义一个名为 rotate 的类 */
  .rotate {
    animation: rotateAnimation 1s linear infinite;
  }

  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg); /* 从0度开始旋转 */
    }
    to {
      transform: rotate(360deg); /* 旋转到360度 */
    }
  }
}
