.page-content.create-account-page {
  padding-bottom: 60px;
  height: auto;
  .form-header {
    height: 100px;
    background-image: url('@/assets/rcs/aco1.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    .title-desc {
      color: #666666;
      font-weight: normal;
    }
  }

  .create-account-form {
    margin: 24px;
    width: calc(100% - 48px);

    .form-group {
      .form-group-title {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        &::before {
          content: '';
          width: 4px;
          height: 20px;
          border-radius: 2px;
          background: var(--primary-color);
          margin-right: 8px;
        }
      }
    }
  }
  .ant-image-img {
    border-radius: 6px;
  }

  .ant-select-single {
    height: 42px;
  }
  .cancle {
    color: #1764ff;
    background-color: #eceff3;
  }
  .upload {
    width: 120px;
    height: 40px;
    font-size: 15px;
  }
  @media screen and (max-width: 992px) {
    .ant-image {
      display: none;
    }
    .form-con {
      width: 100%;
    }
  }
}
.ant-select-dropdown .ant-cascader-menus {
  .ant-cascader-menu:nth-child(1) {
    max-width: calc(60vw - 24px);
  }
  .ant-cascader-menu:nth-child(2) {
    max-width: calc(40vw - 24px);
  }
}
