[data-class='create-address'] {
  .num-p {
    padding: 0px 14px;
    border-radius: 2px;
  }
  .ant-checkbox-inner {
    width: 18px;
    height: 18px;
  }
  .ant-transfer-list-header-title {
    font-weight: 500;
  }
  .tranfer-wrap {
    width: 100%;
    overflow-x: auto;
  }
}
