.rcs-mateial-upload-modal {
  .upload-content {
    min-width: 650px;
  }
  .utils-wrap {
    width: 100%;
    height: 36px;
    padding: 0 14px;
    box-sizing: border-box;
    img {
      cursor: pointer;
      display: block;
    }
  }
  .img-layer-canvas {
    width: 602px;
    height: 670px;
    border-radius: 6px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 16px;
    .dragger {
      width: 100%;
      height: 335px;
      display: inline-block;
    }
  }
  .img-editor-wrap {
    border-radius: 6px;
    flex: 1;
    height: 670px;
    min-width: 350px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.ant-upload-list-item.ant-upload-list-item-done {
  .ant-upload-list-item-actions {
    display: none;
  }
  .ant-upload-list-item-name {
    color: #00a97b;
  }
}
