.page-content.account-detail {
  padding: 32px 16px 48px;
  height: auto;
  .info-title {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      width: 4px;
      height: 20px;
      border-radius: 2px;
      background: var(--primary-color);
      margin-right: 8px;
    }
  }
}
