.interactive-config-item {
  .left-config {
    width: fit-content;
    flex-shrink: 0;
  }
  .center-config {
    flex: 1;
  }
  .right-config {
    width: fit-content;
    flex-shrink: 0;
    .handle-item {
      cursor: pointer;
      width: 24px;
      height: 40px;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
