.pay-plp {
  .packages-list {
    .packages-item {
      height: 40px;
      min-width: 80px;
      border: 1px solid #e7e7e7;
      transition: all 0.3s;
      &:hover {
        background-color: rgba(0, 107, 252, 0.125);
      }
      &.active {
        border-color: transparent;
        color: #fff;
        background-color: var(--color);
      }
    }
  }
  .number {
    min-width: 1em;
    text-align: center;
  }
  .handle-btn {
    min-width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
    transition: all 0.3s;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    &.active {
      border-color: #4187f2;
      background-color: #4187f2;
      color: #fff;
    }
    &.disable {
      cursor: not-allowed;
      color: var(--gray-color-sub);
    }
  }
}
