.page-content.call-list {
  padding: 32px 16px 48px;
  height: auto;
  .send-type {
    width: 90px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 13px;
    &::before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 6px;
    }
    &.status-1 {
      background-color: rgba(102, 109, 122, 0.2);
      color: var(--gray-color);
      &::before {
        background-color: var(--gray-color);
      }
    }
    &.status-2 {
      background-color: rgba(0, 169, 123, 0.2);
      color: var(--success-color);
      &::before {
        background-color: var(--success-color);
      }
    }
    &.status-3 {
      background-color: rgba(241, 157, 37, 0.2);
      color: var(--waiting-color);
      &::before {
        background-color: var(--waiting-color);
      }
    }
    &.status-4 {
      background-color: rgba(240, 0, 17, 0.2);
      color: var(--error-color);
      &::before {
        background-color: var(--error-color);
      }
    }
    &.status-5 {
      background-color: rgba(40, 43, 49, 0.2);
      color: var(--text-color);
      &::before {
        background-color: var(--text-color);
      }
    }
    &.status-6 {
      background-color: rgba(23, 100, 255, 0.2);
      color: var(--color);
      &::before {
        background-color: var(--color);
      }
    }
  }
}
