.create-chatbot-page {
  height: auto;

  .create-chatbot-form {
    // border: 1px solid #e7e7e7;
    margin: 24px;
    width: calc(100% - 48px);
    .form-header {
      padding: 12px 0;
      border-bottom: 1px solid #e7e7e7;
    }
    .form-group {
      padding: 24px 0 0;
      .form-group-title {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        &::before {
          content: '';
          width: 4px;
          height: 20px;
          border-radius: 2px;
          background: linear-gradient(to bottom, #d971f0, #3c64f5);
          margin-right: 8px;
        }
      }
    }
    .ant-input {
      font-size: 15px;
      padding: 9px 11px;
    }
    .ant-select-single {
      height: 42px;
    }
    .cancle {
      color: #1764ff;
      background-color: #eceff3;
    }
    .upload-btn button {
      width: 120px;
      height: 40px;
      font-size: 15px;
    }
    .save {
      color: #fff;
      background-color: #f58c37;
      &:hover {
        background-color: #f7a867;
      }
    }
  }
}
