.create-chatbot-page {
  height: auto !important;
  .create-chatbot-form {
    // border: 1px solid #e7e7e7;
    margin: 24px;
    width: calc(100% - 48px);
    .form-header {
      padding: 12px 0;
      position: relative;
      .form-con {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .title-desc {
        color: #666666;
        font-weight: normal;
      }
    }
    .form-group {
      padding: 24px 0 0;
      .form-group-title {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        &::before {
          content: '';
          width: 4px;
          height: 20px;
          border-radius: 2px;
          background: #007dff;
          margin-right: 8px;
        }
      }
    }

    .ant-select-single {
      height: 42px;
    }
    .cancle {
      color: #1764ff;
      background-color: #eceff3;
    }
    .upload-btn button {
      width: 120px;
      height: 40px;
      font-size: 15px;
    }
    .save {
      color: #fff;
      background-color: #f58c37;
      &:hover {
        background-color: #f7a867;
      }
    }
  }

  .upload-btn {
    width: 45px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    .jiqiren {
      font-size: 40px;
      color: #d6dce1;
    }
  }
  .choseBgimg {
    width: 100px !important;
    height: 32px;
    line-height: 32px;
    padding: 0 !important;
    font-size: 14px;
  }
  @media screen and (max-width: 992px) {
    .ant-image {
      display: none;
    }
    .form-con {
      width: 100%;
    }
  }
}
