.page-content.batchreport {
  padding: 48px 16px;
  height: auto;
  .ant-table-tbody tr {
    td {
      padding: 21px 0 !important;
    }
  }
  .send-type {
    background: #f1f2f4;
    padding: 6px 8px;
    border-radius: 4px;
  }
  .order-by {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    height: 40px;
    margin-top: 30px;
    justify-content: center;
    .ant-select-selector {
      background: none;
      padding: 0;
      outline: none;
    }
    .ant-form-item-label {
      display: none;
    }
  }
  .batch-item2 {
    .ant-select-selector {
      background: none;
    }
  }
}
