.page-content.interactivelogs {
  padding: 32px 16px 48px;
  height: auto;
  .match_type_color_0 {
    color: #00a97b;
  }
  .match_type_color_1 {
    color: #f19d25;
  }
  .match_type_color_2 {
    color: #0ca1c7;
  }
  .match_type_color_3 {
    color: #86c207;
  }
}

@media screen and (min-width: 992px) {
  .page-content.interactivelogs {
    padding: 32px 24px 48px;
  }
}
