.rcs-temp-item {
  width: 242px;
  height: 336px;
  width: 324px;
  height: 468px;
  margin: 0 auto 24px;
  .temp-item-content {
    &.openSelect {
      cursor: pointer;
    }
    position: relative;
    background-color: #f6f7f8;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 6px;
    padding: 10px 12px;
    border: 1px solid #ddd;
    &.create-btn {
      .create-card {
        &:hover {
          color: inherit;
        }
      }
    }
    .name {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      height: 24px;
      width: 80%;
    }
    .time {
      color: #999;
      width: 100%;
      font-size: 12px;
      height: 22px;
      line-height: 22px;
      word-wrap: normal;
      word-break: keep-all;
    }
    .status {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      &.success {
        background-color: var(--primary-color);
      }
      &.fail {
        background-color: #de3500;
      }
      &.waiting {
        background-color: #72c240;
      }
    }
    .preview-model {
      width: 100%;
      height: 348px;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      margin-top: 8px;
      background-color: #44494e;
      padding-bottom: 48px;
      .temp-type {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: fit-content;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px 0 12px 0;
        color: #fff;
      }
      .preview-content {
        width: 100%;
        height: 100%;
        // pointer-events: none;
        position: relative;

        // transform: scale(0.627);
        // transform: scale(0.811);
        transform-origin: top left;
      }
      .float-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 48px;
        overflow-x: scroll;
        padding: 0 12px;
        .float-item {
          height: 28px;
          line-height: 28px;
          border-radius: 14px;
          text-align: center;
          background-color: #fff;
          padding: 0 16px;
          font-size: 13px;
        }
      }
    }
    .factory-list {
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }
  }
  .id-btn {
    position: relative;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #fd29a4;
    &:hover {
      border-color: #bbb;
    }
  }
}
