.breadcrumb {
  font-size: 16px;
  &.small {
    font-size: 13px;
  }
  a.ant-breadcrumb-link {
    color: #a1a8b7;
    background-color: transparent;
    &:hover {
      color: var(--primary-color);
    }
  }
  span.ant-breadcrumb-link {
    color: var(--primary-color);
  }
}
