.welcome-pay-modal {
  .ant-modal-footer {
    border-top: 1px solid #ddd;
    padding-top: 16px;
  }
  .line {
    width: 12px;
  }
  .icon-wrap {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #f3f3f3;
  }
}
